/* Define the custom font */
@font-face {
    font-family: 'CascadiaMonoNF';
    src: url('assets/fonts/CascadiaMonoNF-Regular.otf') format('opentype');
}

/* Apply styles */
html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    font-family: 'CascadiaMonoNF', monospace; /* Use the custom font here */
}

body {
    background-color: #291e38;
    color: #EACDC2;
    display: flex;
}


.scale-container {
    transform: none;
    transform-origin: center;
    display: flex;
    box-sizing: border-box;
    position: static;
    white-space: nowrap;
}

.container {
    width: 100%;
    background-color: #221a2e;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.code-container {
    display: flex;
    align-items: flex-start;
}

.line-numbers {
    width: 20px;
    background-color: #2C1F35;
    color: #6C4F6D;
    padding: 0 5px;
    text-align: right;
    font-size: 1em;
    line-height: 1.2em;
    border-right: 1px solid #3A2B3A;
}

.line-number {
    margin-bottom: 0;
    line-height: 1.2em;
}

.code-content {
    padding-left: 9.99px;
    flex: 1;
    line-height: 1.2em;
    font-size: 1em;
}

.content-container {
    background-color: #291e38;
    margin-left: -10.5px;
    padding-right: 20px;
    margin-right: 10px;
    max-width: 500px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

h1 {
    font-size: 1em;
    margin: 0;
    color: #C66976;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: #EACDC2;
    font-weight: normal;
    text-decoration: none;
    margin-left: 10px;
}

.social-icons a:hover {
    text-decoration: underline;
    color: #C66976;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 20px; /* Indent list items */
    margin: 0;
}

ul li {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0; /* Adjust spacing as needed */
    color: #EACDC2;
}

/* projects */ 
section {
    margin: 0;
}

h3 {
    font-size: 1em;
    margin: 0;
    color: #9266BD;
}

.projects h3 {
    font-size: 1em;
    margin: 0;
}

.projects .project-link {
    font-size: 1em;
    color: #EACDC2;
    font-weight: normal;
    text-decoration: none;
}

.projects .project-link:hover {
    text-decoration: underline;
    color: #C66976;
}

.language-section h4 {
    font-size: 1em;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: #B17490; 
}
.language-section ul {
    list-style-type: none;
    padding-left: 60px; /* Double indent for the languages */
    margin: 0;
}

.language-section ul li {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    color: #EACDC2;
}
